.backButton {
  display: flex;
  align-items: center;
  gap: 14px;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--color-02);
  font-size: var(--font-size-md);

  &:hover {
    color: var(--color-accent);
  }
}
