.data {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-mobile);
  height: 100vh;

  color: var(--color-accent);
  font-size: var(--font-size-md);

  @media (min-width: 1200px) {
    padding: var(--spacing-desktop);
    font-size: var(--font-size-xl);
  }
}

.empty {
  text-align: center;
  color: var(--color-accent);
  min-height: 40px;
  padding: var(--spacing-mobile);
  margin-top: 20px;

  @media (min-width: 1200px) {
    padding: var(--spacing-desktop);
  }
}
