.title {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-semibold);
  display: inline-block;
  width: 100%;
  min-height: 49px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--color-04);
}
